In [1]:
import pandas as pd

df = pd.read_csv('DATA/american_bankruptcy_updated.csv', header=0)
df

C:\Users\ztillery\Anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,company_name,status_label,Final Year of Recorded Data,year,current_assets,cogs,depr_amort,ebitda,inventory,net_income,...,net_sales,total_assets,total_debt_long,ebit,gross_profit,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operating_expenses
0,C_1,alive,N,1999,511.267,833.107,18.373,89.031,336.018,35.163,...,1024.333,740.998,180.447,70.658,191.226,163.816,201.026,1024.333,401.483,935.302
1,C_1,alive,N,2000,485.856,713.811,18.577,64.367,320.590,18.531,...,874.255,701.854,179.987,45.790,160.444,125.392,204.065,874.255,361.642,809.888
2,C_1,alive,N,2001,436.656,526.477,22.496,27.207,286.588,-58.939,...,638.721,710.199,217.699,4.711,112.244,150.464,139.603,638.721,399.964,611.514
3,C_1,alive,N,2002,396.412,496.747,27.172,30.745,259.954,-12.410,...,606.337,686.621,164.658,3.573,109.590,203.575,124.106,606.337,391.633,575.592
4,C_1,alive,N,2003,432.204,523.302,26.680,47.491,247.245,3.504,...,651.958,709.292,248.666,20.811,128.656,131.261,131.884,651.958,407.608,604.467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78677,C_8971,alive,NaN,2014,233.211,43.338,14.094,45.615,3.376,25.261,...,104.223,1099.101,184.666,31.521,60.885,28.197,28.095,104.223,225.887,58.608
78678,C_8971,alive,NaN,2015,105.559,59.184,42.592,202.133,2.288,129.688,...,291.153,1865.926,770.103,159.541,231.969,88.128,157.783,291.153,880.327,89.020
78679,C_8971,alive,NaN,2016,63.971,69.074,65.057,79.051,2.581,-1.442,...,169.858,1746.235,683.985,13.994,100.784,85.765,156.341,169.858,770.233,90.807
78680,C_8971,alive,NaN,2017,135.207,66.527,65.330,69.171,2.013,-20.401,...,161.884,1736.110,694.035,3.841,95.357,82.010,135.941,161.884,776.697,92.713
78681,C_8971,alive,NaN,2018,82.589,68.817,65.201,67.262,2.112,-50.946,...,160.513,1625.370,632.122,2.061,91.696,79.365,84.995,160.513,712.687,93.251

In [4]:
df["EBIT/TOTAL_ASSETS"] = df["ebit"] / df["total_assets"]
df["NET_SALES/TOTAL_ASSETS"] = df["net_sales"] / df["total_assets"]
df["WORKING_CAPITAL/TOTAL_ASSETS"] = (df["current_assets"]- df["total_current_liabilities"]) / df["total_assets"]
df["RETAINED_EARNINGS/TOTAL_ASSETS"] = df["retained_earnings"] / df["total_assets"]
df["SOLVENCY_RATING"] = 0
df["CURRENT_ASSETS/CURRENTLIABILITIES"] = df["current_assets"] / df["total_current_liabilities"]
df["LIQUIDITY_RATING"] = 0 
df["NET_SALES-COGS"] = (df["net_sales"] - df["cogs"]) / df["net_sales"]
df["PROFITABILITY_RATING"] = 0
df["BUSINESS_HEALTH"] = 0

In [13]:
df.drop(columns = ['ebit'])
df.drop(columns = ['total_assets']) 
df.drop(columns = ['net_sales'])
df.drop(columns = ['current_assets'], axis = 1)
df.drop(columns = ['total_current_liabilities'])
df.drop(columns = ['retained_earnings'])
df.drop(columns = ['cogs'])
df.drop(columns = ['status_label'])

,company_name,Final Year of Recorded Data,year,current_assets,cogs,depr_amort,ebitda,inventory,net_income,total_receivables,...,EBIT/TOTAL_ASSETS,NET_SALES/TOTAL_ASSETS,WORKING_CAPITAL/TOTAL_ASSETS,RETAINED_EARNINGS/TOTAL_ASSETS,SOLVENCY_RATING,CURRENT_ASSETS/CURRENTLIABILITIES,LIQUIDITY_RATING,NET_SALES-COGS,PROFITABILITY_RATING,BUSINESS_HEALTH
0,C_1,N,1999,511.267,833.107,18.373,89.031,336.018,35.163,128.348,...,0.095355,1.382369,0.468896,0.271291,0,3.120983,0,0.186683,0,0
1,C_1,N,2000,485.856,713.811,18.577,64.367,320.590,18.531,115.187,...,0.065241,1.245637,0.513588,0.290751,0,3.874697,0,0.183521,0,0
2,C_1,N,2001,436.656,526.477,22.496,27.207,286.588,-58.939,77.528,...,0.006633,0.899355,0.402974,0.196569,0,2.902063,0,0.175732,0,0
3,C_1,N,2002,396.412,496.747,27.172,30.745,259.954,-12.410,66.322,...,0.005204,0.883074,0.280849,0.180749,0,1.947253,0,0.180741,0,0
4,C_1,N,2003,432.204,523.302,26.680,47.491,247.245,3.504,104.661,...,0.029341,0.919167,0.424286,0.185938,0,3.292707,0,0.197338,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78677,C_8971,NaN,2014,233.211,43.338,14.094,45.615,3.376,25.261,22.846,...,0.028679,0.094826,0.186529,0.025562,0,8.270773,0,0.584180,0,0
78678,C_8971,NaN,2015,105.559,59.184,42.592,202.133,2.288,129.688,54.611,...,0.085502,0.156037,0.009342,0.084560,0,1.197792,0,0.796725,0,0
78679,C_8971,NaN,2016,63.971,69.074,65.057,79.051,2.581,-1.442,42.467,...,0.008014,0.097271,-0.012481,0.089530,0,0.745887,0,0.593343,0,0
78680,C_8971,NaN,2017,135.207,66.527,65.330,69.171,2.013,-20.401,27.217,...,0.002212,0.093245,0.030641,0.078302,0,1.648665,0,0.589045,0,0
78681,C_8971,NaN,2018,82.589,68.817,65.201,67.262,2.112,-50.946,45.839,...,0.001268,0.098755,0.001984,0.052293,0,1.040622,0,0.571268,0,0

In [12]:
df['current_assets']

0        511.267
1        485.856
2        436.656
3        396.412
4        432.204
          ...
78677    233.211
78678    105.559
78679     63.971
78680    135.207
78681     82.589
Name: current_assets, Length: 78682, dtype: float64